body{
   background-image: url("../img/yuh.png");
   background-size: cover;

}
img {
  float: right;
  margin: 50px;
  max-width: 300px;
	width: 100%;

}

body {
    font-family: 'Oleo Script Swash Caps', cursive;


}
p {
   text-align: left

}
#ourParagraph {
   border-style: solid;
   padding: 50px;
}

element.style {
}
.major-section {
    margin: 50px;
    padding: 10px;
    border-top: dashed 20px #404495;
    border-bottom: dashed 20px #404495;
    border-left: double 40px #1634c9;
    border-right: double 40px #1634c9;
    border-radius: 0 50px;
    background-color: rgba(166, 166, 255, 0.8);
}

nav {
    display: block;
}

element.style {
}
h1 {
    word-spacing: 0.5em;
    font-family: Oleo Script Swash Caps;
    color:#343483;
    font-size: 2.6em;
    text-shadow: 0 0 5px #213ae6;

}
h2 {
    text-transform: lowercase;
    word-spacing: 0.8em;
    font-family: Oleo Script Swash Caps;
    color:#1533c3;
    font-size: 3em;
    text-shadow: 0 0 5px #213ae6;

}
p {
        text-transform: lowercase;
        word-spacing: 0.8em;
        font-family: times new roman;
        color:#090b18;

    }
      img {
      width:auto;
      height:auto;
      object-fit: cover;
      filter: blur(0px);
}
img:hover {
filter: blur(5px);
}


}
