iframe#fake {
    width: 800px;
    height: 500px;
    resize: both;
    overflow: hidden;

}

body{
   background-image: url("../img/back.jpg");
   background-size: cover;


}
#helpme {
color: #ffffff;

}
#container {
position: relative;
width: 100vw;
height: 100vh;
z-index: -100;
line-height: 95%;
margin:20px;





}
#right {
text-align: right;
position: absolute;
bottom: -10;
right: 0;
color: #e4003f;
text-align: right;
font-family: 'Suez One', serif;
border-bottom:5px dashed #e4003f;
line-height: 25%;
text-shadow: 2px 2px #000;
word-spacing: 10px;


}
#des2 {
font-size: 50px;
font-weight: bolder;
text-shadow: 2px 2px #000;
text-decoration: underline  #952c3a;

}
#des3 {
font-size: 22px;
font-weight: bold;
text-shadow: 2px 2px #000;
letter-spacing: 1px;

}
#title-box2 {
color: #ff3452;

}
#des4 {
text-align: center;

}
#title-box {
position: absolute;
top: 0;
left: 0;
width: 100%;
z-index: -10;
font-family: 'Josefin Slab', serif;
color: #e8dfc0;
font-size: 44px;
word-break: break-word;
line-height: 65%;
text-decoration: none;





}
#title-box .title {
font-size: 150px;
letter-spacing: -10px;
font-family: 'Suez One', serif;
line-height: 65%;
word-spacing: 20px;
text-align: center;
}


#title-box .date {
  text-align: left;
  font-size: 30px;
  font-family: 'Josefin Slab', serif;

}
#caption-box {
text-align: right;
z-index: 10;
font-size: 30px;
word-spacing: 20px;
  text-decoration: none;



}
a:link {
  color: #ffffff;
  text-decoration: none;

}

a:visited {
  color: #ffffff;
  text-decoration: none;


}
