html, body {
  background-image:
  radial-gradient(#d0a4f6, #e7d7e9, #f8ccde);
}

.main {
  display: inline-block;
  margin: 20px;
  padding: 10px;
  background-color: #f6f6f6;
  text-align: center;
}


nav {
     position: sticky;
     top: 0;
     background-color: #c6e6df;
     border: dotted 25px #9df4e1;
     color: #656564;
     text-align: center;
   }

   nav a {
     color: #6e6e6e;
   }

   * {
     box-sizing: border-box;
   }

img {
   width: 100%

   }

   .img-container {
     float: left;
     width: 33.33%;
     padding: 5px;
   }

   .clearfix::after {
     content: "";
     clear: both;
     display: table;

   }

   .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #c6e6df;
      border: dotted 5px #9df4e1;
      text-align: center;

    }
