html, body {
  background-image:url("../img/bgg.jpg");
  background-size: cover;
}
span.color {

}
  h1, h2 {
  font-family: 'Norican', cursive;
  color: #01CD32;
  font-size:50px;


}.flex-container {
  display: flex;
  justify-content: center;
  background-image:url("../img/bg.png");
  background-size: contain;
}

.flex-container > div {
  background-color:rgba(55, 19, 144, 0.8);
  width: 500px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 15px;
  font-family:'rye', cursive;
  color: #fff;

}


figcaption {
color: pink;
font-size: 12px;

}

  .footer {
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
     background-color:rgba(192,192,192,0.3);
     border: double 5px #ffffff;
     text-align: left;
     color: #ffffff;


  }

     nav {
       position: sticky;
       top: 0;
       background-color:rgba(192,192,192,0.3);
       border: double 10px #ffffff;
       color: #ffffff;
       text-align: center;
       font-size:25px;
     }

     nav a {
       color: #EF00C2;
     }
     aside {
       width: 200px;
       height:200px;
       padding-left: 15px;
       margin-left: 15px;
       float: right;
       font-style: italic;
       background-image:url("../img/giffy.gif");
        background-size: contain;
     }


  @media screen and (max-width:600px) {
    .left , .main, .right {
      width:100%;
      .left, .right {
        float: left;
        width: 20%;
  }
  .main {
    float: left;
    width: 60%;
  }
  . img {
    max-width: 100%;
    height: auto;
  }

    }
  }
